<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!course">Loading</ion-title>
    <ion-title *ngIf="course">{{course.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="classInfo" *ngIf="course" padding>
    <div class="teacherInfo">
      {{course.teacher}}
      <br>
      <span>Room: {{course.room}}</span>
    </div>
    <div class="grade">
      {{course.currentTermGrade}}
    </div>
  </ion-card>
  <ion-card class="workInfo" *ngIf="assignments">
    <table class="assignments">
      <tr>
        <th width="40%">Assignment</th>
        <th width="35%" (click)="sortAssignments(1)">Credit<ion-icon class="rotateIcon" name="code"></ion-icon></th>
        <th width="25%" (click)="sortAssignments(0)">Due<ion-icon class="rotateIcon" name="code"></ion-icon></th>
      </tr>
      <tr *ngFor="let item of assignments">
        <td class="name">{{item.name}}</td>
        <td class="credit">{{item.credit}}</td>
        <td class="dateDue">{{dateFormat(item.dateDue)}}</td>
      </tr>
    </table>
  </ion-card>
  <div class="loading" *ngIf="!(course || assignments)">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>
