<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Aspen Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Aspen Information
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <form (ngSubmit)="login()" #registerForm="ngForm">

          <ion-item>
            <ion-label stacked>District ID</ion-label>
            <ion-input type="text" name="districtId" [pattern]="districtPattern" [(ngModel)]="userData.districtId" placeholder="ma-melrose" autocapitalize="none" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Username</ion-label>
            <ion-input type="text" name="username" [(ngModel)]="userData.username" placeholder="jsmith" autocapitalize="none" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="userData.password" placeholder="password" required></ion-input>
          </ion-item>

          <button ion-button full color="success" type="submit" [disabled]="!registerForm.form.valid">Login</button>

          <div class="error" *ngIf="loginFailed">Login Failed: Please retry or check internet connection</div>
          <div class="loading" *ngIf="isLoading">
            <ion-spinner name="bubbles"></ion-spinner>
          </div>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
