<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule<span *ngIf="currentDay !== 0">: Day {{currentDay}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="error" *ngIf="scheduleError || announcementsError">
    An error has occurred. Please check you internet connection and retry. If the error persists, please report to an AspenCheck admin.
  </ion-card>

  <ion-card class="schedule" *ngIf="blockOrder.length > 0">
    <div *ngFor="let block of blockOrder; let index=index" [ngClass]="{'highlight': index == currentBlockNumber-1}">
      {{block}}
    </div>
  </ion-card>

  <hr *ngIf="isSchool && announcements.length > 0">

  <ion-card class="announcements" *ngIf="announcements.length > 0">
    <div class="header">
      <div class="title">
        <span>{{announcements.length}}</span> Announcements:
      </div>
    </div>
    <hr>
    <div class="textBox" *ngFor="let item of announcements">
      <span class="title">{{item.title}}:</span> {{item.description}}
    </div>
  </ion-card>

  <div class="loading" *ngIf="!(blockOrder.length > 0 || announcements.length > 0 || isError)">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>
