<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="user">
    <ion-card-header>
      User:
    </ion-card-header>
    <ion-list *ngIf="user">
      <ion-item *ngIf="user.userId" class="userProp">
        <span class="userTitle">Student Id</span>: {{user.userId}}
      </ion-item>
      <ion-item *ngIf="user.username" class="userProp">
        <span class="userTitle">Username</span>: {{user.username}}
      </ion-item>
      <ion-item *ngIf="user.grade" class="userProp">
        <span class="userTitle">Grade</span>: {{user.grade}}
      </ion-item>
      <ion-item *ngIf="user.yearOfGrad" class="userProp">
        <span class="userTitle">YOG</span>: {{user.yearOfGrad}}
      </ion-item>
      <ion-item *ngIf="user.district" class="userProp">
        <span class="userTitle">District</span>: {{user.district}}
      </ion-item>
      <ion-item *ngIf="user.schoolName" class="userProp">
        <span class="userTitle">School Name</span>: {{user.schoolName}}
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <button ion-item (click)="logout()">
      Logout
    </button>
  </ion-card>
</ion-content>
