<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="null">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-list>
      <ion-card *ngFor="let item of courses" (click)="itemTapped($event, item)">
      <button ion-item>
        <h1 item-start padding-right>A</h1>
        <h2>{{item.name}}</h2>

        <h3>{{item.teacher}} | {{item.room}} | {{item.term}}</h3>
        <div class="item-note" item-end>
          {{item.currentTermGrade}}
        </div>

        <ul ion-item [hidden]='shownItems.get(item.name) == undefinedType || shownItems.get(item.name) == false'>
          <li *ngFor="let assign of item.assignments">
            <h5 item-start>{{assign.name}}<span *ngIf="assign.credit">: <strong>{{assign.credit}}</strong></span></h5>
          </li>
        </ul>
      </button>
      </ion-card>
    </ion-list>
</ion-content>
